.header {
	background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
	display: inline-block;
	clear: both;
	background-color: whitesmoke;
	width:100%;
}


.adminSidebar, .sidebar {
	display: block;
	width: 15%;
	height: 100%;
	padding: 10px;
	float: left;
	position:absolute;
}


.breadcrumb {
    display: block;
    width: 100%;
    margin: -2px 0% 10px 0%;
    padding: 3px 3px 3px 3px;
    float: left;
    background-color: whitesmoke; 
    font-size: smaller;

}

.content {
	display: block;
	width:85%;
	right: 0;
	height:100%;
	padding: 10px;
	float: right;
	background-color: whitesmoke;
	position: relative;
}

.footer {
	float:right;
	width:85%;
	display: block;
	clear: both;
	right: 0;
	bottom: 0;
	background-color: whitesmoke;
	overflow-y: auto;
	position: relative;

}

#registerButton, #loginButton{
	margin: 3px;
}

#searchboxinput{
	float: left; 
	position:relative;
	width:72%; 
	margin:3px;
}

.table{
	background-color:white;
}

#tabs-text-1-tab, #tabs-text-2-tab, #tabs-text-3-tab, 
#tabs-text-4-tab, #tabs-text-5-tab, #tabs-text-6-tab, #tabs-text-7-tab, #tabs-text-8-tab, #tabs-text-9-tab{
	width:100%;
	margin-bottom:5px;
}

#header-title{
	color:white; float:left; overflow: auto; padding:3px; margin:3px;
}

#header-img{
	float:left; overflow: auto; padding:3px; margin:3px;
}