<aside class="sidebar">
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
        <li class="nav-item">
            <a class="btn btn-danger disabled" id="tabs-text-1-tab" data-toggle="tab" routerLink="/viewAllJobListings" 
            role="tab" aria-controls="tabs-text-1" aria-disabled="true">Manage Job Listings</a>
            <a class="btn btn-outline-danger" id="tabs-text-2-tab" data-toggle="tab" routerLink="/viewAllJobListings" 
            role="tab" aria-controls="tabs-text-2" aria-selected="true">View Job Listings</a>
            <a class="btn btn-outline-danger" id="tabs-text-3-tab" data-toggle="tab" routerLink="/createJobListing" 
            role="tab" aria-controls="tabs-text-3" aria-selected="true">Create Job Listing</a>
            
            <a class="btn btn-danger disabled" id="tabs-text-4-tab" data-toggle="tab" routerLink="/viewAllEmployees" 
            role="tab" aria-controls="tabs-text-4" aria-disabled="true">Manage Employees</a>
            <a class="btn btn-outline-danger" id="tabs-text-5-tab" data-toggle="tab" routerLink="/viewAllEmployees" 
            role="tab" aria-controls="tabs-text-5" aria-selected="true">View All Employees</a>
            
            <a class="btn btn-danger disabled" id="tabs-text-6-tab" data-toggle="tab" routerLink="/viewCompanyProfile"
            role="tab" aria-controls="tabs-text-6" aria-disabled="true">Manage Company Details</a>
            <a class="btn btn-outline-danger" id="tabs-text-7-tab" data-toggle="tab" routerLink="/viewCompanyProfile"
            role="tab" aria-controls="tabs-text-7" aria-selected="true">My Profile</a>
            <a class="btn btn-outline-danger" id="tabs-text-8-tab" data-toggle="tab" routerLink="/manageSubscriptionPlan" 
            role="tab" aria-controls="tabs-text-8" aria-selected="true">Subscription</a>
            <a class="btn btn-outline-danger" id="tabs-text-9-tab" data-toggle="tab" routerLink="/viewPaymentHistory" 
            role="tab" aria-controls="tabs-text-9" aria-selected="true">Payment History</a>
            <br/>
        </li>
      </ul>
</aside>