<section id="breadcrumb" class="breadcrumb">
    
	<span *ngIf="pageName == 'viewAllJobListings' ||
				 pageName == 'createJobListing'"> 
		  Manage Job Listing 
	</span>
	
	<span *ngIf="pageName == 'viewAllJobListings'"> 
		 > View All Job Listings 
	</span>
	
	<span *ngIf="pageName == 'createJobListing'"> 
		 > Create Job Listing 
	</span>

	<span *ngIf="pageName == 'viewAllProfessionals' ||
				 pageName == 'viewProfessionalDetails'"> 
		  Manage Employees 
	</span>
	
	<span *ngIf="pageName == 'viewAllProfessionals'"> 
		 > View All Professionals 
	</span>
	
	<span *ngIf="pageName == 'viewProfessionalDetails'"> 
		> View Professional Details 
   </span>
	<span *ngIf="pageName == 'viewCompanyProfile' ||
				 pageName == 'viewSubscriptionPlan' ||
				 pageName == 'viewPaymentHistory'"> 
		  Manage Company Details
	</span>
	
	<span *ngIf="pageName == 'viewCompanyProfile'"> 
		 > My Company Profile
	</span>
	
	<span *ngIf="pageName == 'viewSubscriptionPlan'"> 
		 > View Subscription Plan 
	</span>
	<span *ngIf="pageName == 'viewPaymentHistory'"> 
		 > View Payment History
	</span>
</section>