<app-header></app-header>
<app-sidebar></app-sidebar>

<section id="content" class="content">
	<app-breadcrumb [pageName]="'viewProfessionalDetails'"></app-breadcrumb>

  <h3 class="modal-title" id="viewProfessionalLabel">View Professional Details</h3>
  

  <span *ngIf="retrieveProfessionalError == true" style="color: red;"
    >Professional ID {{ professionalToView.userId }} does not exist!</span
  >

  <table *ngIf="retrieveProfessionalError == false" width="100%">
    <tr>
      <td width="20%" style="font-weight: bold;">First Name</td>
      <td>{{ professionalToView?.firstName }}</td>
    </tr>
    <tr>
      <td width="20%" style="font-weight: bold;">LastName</td>
      <td>{{ professionalToView?.lastName }}</td>
    </tr>
    <tr>
      <td width="20%" style="font-weight: bold;">Address</td>
      <td>{{ professionalToView?.address }}</td>
    </tr>
    <tr>
      <td width="20%" style="font-weight: bold;">Email</td>
      <td>{{ professionalToView?.email }}</td>
    </tr>
    <tr>
      <td width="20%" style="font-weight: bold;">Contact Number</td>
      <td>{{ professionalToView?.contactNumber }}</td>
    </tr>
    <tr>
      <td>
        <input
          class="btn btn-primary"
          type="button"
          value="Delete"
          (click)="deleteProfessional()"
        />
      </td>
    </tr>
  </table>
</section>

<app-footer></app-footer>