<app-header></app-header>

<section id="frontPage" class="frontPage" style="background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;">
    <div class="landingComponent" style="margin:50px;width:100%;height:80%;text-align:center; display:inline-block;">
        <h2 style="color:white;">Welcome to ClimbHire's Company Website</h2>
        <img src="assets/img/people.png" height="200" width="200" alt="ClimbHire Logo" />
    </div>
</section>
    <div style="bottom: 0; overflow-x:hidden;overflow-y:hidden; width: 100%; background-color: white; height: 200px; text-align: center; display: inline-block; padding: 50px; font-size:large;" >
        <b>ClimbHire </b>is a simple toolkit which
            simplifies the process of recruitment and staff management, conveniently. We will be a truly
            great assistant because we empower both employers and employees to focus on what really
            matters to the success of their business.
            Our toolkit facilitates auto-matching of potential employees to direct employers based
            on their business requirements. We provide employees with the ability to track their working
            hours easily. Employees no longer need to go through the tedious procedure of manual
            recordings and still get paid accordingly. We also provide employers with integrated services
            to create schedules, timesheets and payrolls at ease.
    </div>

<app-footer style="width:100%;"></app-footer>